<app-public-modern-header></app-public-modern-header>
<app-public-modern-feature></app-public-modern-feature>
<app-public-modern-business></app-public-modern-business>
<app-public-modern-services></app-public-modern-services>
<app-public-modern-screenshots></app-public-modern-screenshots>
<app-public-modern-pricing></app-public-modern-pricing>
<app-public-modern-testimonial></app-public-modern-testimonial>
<app-public-modern-brand></app-public-modern-brand>
<app-public-modern-footer></app-public-modern-footer>
