@use 'theme/variable' as *;

$primary: $black;
$secondary: $black;
$dark: $black;
$light: #252525;
$font-awesome: FontAwesome;

@use 'theme/style' as *;
@use 'theme/theme-dark' as *;
@use 'theme/responsive' as *;
