<!--feature css start-->
<section class="saas2 feature booking" id="feaure">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full md:w-10/12 md:mx-auto px-4">
        <div class="title">
          <div class="main-title">
            <h2>Advance Features</h2>
          </div>
          <div class="sub-title">
            <p class="sub-title-para">
              We believe we have created the most efficient SaaS landing page
              for your users. Landing page with features that will convince you
              to use it for your SaaS business.
            </p>
          </div>
        </div>
      </div>
      <div class="w-full xl:w-2/3 md:w-7/12 px-4">
        <div class="center-text flex justify-center">
          <div class="image-container">
            <img
              src="assets/images/saas2/advance-feature/01.png"
              alt=""
              class="max-w-full h-auto advance-feature-img"
            />
          </div>
        </div>
      </div>
      <div class="w-full xl:w-1/3 md:w-5/12 px-4">
        @for(data of features; track data){
        <div>
          <div class="center-content flex justify-start items-start">
            <img [src]="data.img" alt="" class="max-w-full h-auto" />
            <div class="feature-content">
              <h5 class="feature-head">{{ data.title }}</h5>
              <p class="feature-para">{{ data.description }}</p>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>
<!--feature css end-->
